web-admin:
  image: apisearch/web-admin
  ports:
   - "7010:8080"
  links:
   - apisearch
apisearch:
  image: apisearch/apisearch
  command: server
  ports:
   - "7011:8080"
  links:
   - elasticsearch
create-index:
  image: apisearch/apisearch:local
  command: c
  links:
   - elasticsearch
elasticsearch:
  image: apisearch/elasticsearch
